// The root file could be named after the project. In this case we just call it
// acme. This is just a naming convention, not the coding law. Read more
// about file structure here: https://mlarcher.github.io/docssa/#fileStructure

@charset 'UTF-8';

// Third-party libraries and packages.
@import 'node_modules/sanitize.css/sanitize';

// Project specific styles.
@import 'project/_project';
@import 'components/_components';

body {
    @extend %center;
    align-items: center;
    flex-direction: column;
    margin: 25vh 10vw;
}

.header {
    img {
        width: 100%;
    }
}

main {

    .search {
        display:flex;
        flex-flow: row;
        outline: 2px solid $primary-color;
        align-items: center;

        .search__input {
            border: none;
            padding-left: 2vw;
            font-family: $primary-font;
            font-size: 0.9em;
            width:70vw;
        }
        .search__input:focus {
            outline: none;
            color: $primary-color;
        }

        .search__button {
            background-image: url("/assets/images/search.gif");
            background-size: contain;
            border: none;
            height: 40px;
            width: 40px;
       }

       color: rgba(#4e351e, 0.3);

    } //end search field
} // end main
